<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Programmer</h3>
                            <div class="time">May' 2014 – Aug' 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">DZH International, Singapore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Duties include develop stock web application using company framework, Oracle, Shell Scripting, Java, JSP. Using company’s function library, to maintain, troubleshoot existing applications, Meet clients to get requirements and propose solutions, Deal with outsource company's staff to solve their tasks.</p>   
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Developer</h3>
                            <div class="time">July' 2013 – April' 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Towa Systems Pte Ltd, Singapore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Duties include develop custom web application using PHP, Mysql, Ajax and Java Script, Using and developing company’s own function library,  Maintain, troubleshoot existing applications, Meet clients to get requirements and propose solutions, Assist fresh entry to solve their tasks.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
