<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
  <!-- //hide
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. </p>
                </div><!--//intro-->
  <!--//endhide-->
  
                <div class="item">
                    <span class="project-title"><a href="#hook">Stock Trading System</a></span> - <span class="project-tagline">An website is providing general information regarding stock and a trading platform for buy or sell the investment product. </span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">ERP System</a></span> - 
                    <span class="project-tagline">A customized system designed to help client including product planning, development, human resources, financials and sales and marketing. </span>
                </div><!--//item-->
                
            </section><!--//section-->
