<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. </p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Stock Trading System</a></span> - <span class="project-tagline">Creating admin module page. Involved input verification, SQL Query, </span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">ERP System</a></span> - 
                    <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
                </div><!--//item-->
                
            </section><!--//section-->
