<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset"> 
                    <div class="item">
                        <h3 class="level-title">Advanced</h3>
                        <div>Problem Solving Skills, HTML5 &amp; CSS, JavaScript</div>
                                                       
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Intermediate</h3>
                        <div>Java, PHP &amp; JSP, Oracle &amp; MySQL</div>
                                                       
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title">Beginner</h3>
                        <div>C++ Programming, JQuery, AJAX, Shell Scripting</div>
                                                       
                    </div><!--//item-->
                  
                    
                    
                </div>  
            </section><!--//skills-section-->
